*{
    
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
body{
    background: rgb(116, 84, 116);
    color:white
}
header{
    background-color: white;
    padding: 20px;
    
}
header h1{
    
    color: black;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.score-board{
    border: 2px solid white;
    margin-left: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 280px;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    position: relative;
}
.write{
    background-color: rgb(89, 71, 48);
    font-size: 15px;
    border-radius: 3px;
    width: 60px;
    height: 18px;
    
}
#user-label{
    position:absolute;
    top:25px;
    left:-20px;
    
}
#computer-label{
    position:absolute;
    top:25px;
    left:179px;
}
.result p{
    font-family: "Comic Sans MS", cursive;
    text-align: center;
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 40px;
}
.choices{
    text-align: center;
    padding: 40px;
}
.choice{
    display: inline-block;
    border: 3px solid white;
    transition: all 0.3 ease;
    margin: 0px 20px;
}
.choice:hover{
    cursor: pointer;
    background: rgb(225, 194, 144);
}
#act-message{
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}